.line {
    width: 145px;
    height: 5px;
    position: absolute;
    transform-origin: left;
    display: flex;
    justify-content: flex-end;
}
.line .point {
    width: 15px;
    height: 100%;
    background-color: #FFF;
}